<!DOCTYPE html>
<html>
  <head>
      <title>Network Tracker</title>
      <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
<div class="topnav">
  <a href="/">Activity</a>
  <a href="/devices">Devices</a>
  <a class="active" href="/networkconfig">Network Configuration</a>
</div>


  <body>
       <h1> Network Config </h1>

      <!-- <form action = "http://localhost:5000/result" method = "POST"> -->
<!--         <form>
         <p>Network Interface Name: <input type = "text" name = "nic" /></p>
          <input type="radio" name="mode" value="single" checked> Single<br>
          <input type="radio" name="mode" value="bridged"> Bridged<br>
         <p><input type = "submit" value = "Setup" /></p> -->

        <form action="{{ url_for('networkconfig') }}" method="post">
         <p>Network Interface Card Name: <input type = "text" name = "NIC name" /></p>
         <p><input type ="submit" name="nic_button" value="Update NIC name" /></p>
      </form>
      </form>

  </body>
</html>